.burger-menu {
    position: relative;
}

.menu-icon {
    display: flex;
    align-items: center;
    border-radius: 500px;
    padding: 4px 12px;
    width: 40px;
    height: 39px;
    background-color: #dcefd8;
    margin-left: 11px;
  }

  .menu-icon:hover {
    background-color: #97d28b;
  }

.menu {
    position: fixed;
    max-width: 480px;
    width: calc(100% - 40px);
    top: 36px;
    left: auto;
    right: 20px;
    bottom: 36px;
    backdrop-filter: blur(25px);
    background: rgba(23, 61, 51, 0.75);
    border-radius: 25px;
    display: none;
    flex-direction: column;
    padding: 24px;
    z-index: 1000;
    overflow-y: auto;
}

@media (min-width: 481px) {
    .menu {
        max-width: 320px;
    }
}
@media (min-width: 1280px) {
    .menu {
        top: 24px;
        bottom: 24px;
    }
}

.menu.open {
    display: flex;
}

.menu-close {
    width: 69px;
    height: 24px;
    color:#fff;
    cursor: pointer;
}

.menu-close span {
    padding-left: 4px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.04em;
}

.separator {
    width: 100%;
    border: 0;
    border-top: 1px solid #fff;
    margin-top: 8px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin-top: 24px;
    width: 100%;
}

.menu li {
    margin-bottom: 8px;
}

.menu li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}
  