.contact-us__form {
    width: 100%;
    background-color: #eaedf1;
    padding: 36px 12px;
}

@media (min-width: 768px) {
    .contact-us__form {
        width: calc(50% - 12px);
        padding: 36px 24px;
    }
}

@media (min-width: 1280px) {
    .contact-us__form {
        width: calc(50% - 24px);
        padding: 48px 48px; 
    }
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    display: flex;
    background-color: #eaedf1;
    font-size: 18px;
    letter-spacing: -0.04em;
    color: #173d33;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid  #97d28b; 
}

@media (min-width: 1280px) {
    input, textarea {
        font-size: 20px;
        padding: 12px 0 8px 0;
    }
}

input {
    margin-bottom: 28px;
} 

input:focus {
    background-color: #eaedf1;
}

input.error {
    border-bottom: 1px solid #d28b8b;
    margin-bottom: 0;
}

textarea {
    height: 167px;
    resize: none;
    margin-bottom: 16px;
}

@media (min-width: 1280px) {
    textarea {
        height: 173px;
        margin-bottom: 32px;
    }
}

.submit-btn {
    display: flex;
    align-items: center; 
    gap: 12px; 
    border-radius: 500px;
    padding: 4px 4px 4px 16px;
    width: 99px;
    height: 39px;
    border: 1px solid #97d28b;
    background-color: #F8FAFF;
    color: #173d33;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em; 
    align-self: flex-end;
}

.submit-btn:hover {
    background-color: #173d33;
    color: #97d28b;
}

form p {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.04em;
    line-height: 1.12;
    text-align: right;
    color: #d28b8b;
    margin: 8px 0 6px 0;
  }

  @media (min-width: 1280px) {
    form p {
        margin: 12px 0 2px 0;
      }
  }