.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #fff;
    padding: 36px 0;
}

@media (min-width: 1280px) {
    .header {
        padding: 24px 0;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo:hover {
    fill: #97d28b;
}

.buttons__wrapper {
    display: flex;
    flex-direction: row;
}

.get-in-touch-btn {
    display: none;    
}

@media (min-width: 768px) {
    .get-in-touch-btn {
        display: flex;
        align-items: center;  
        gap: 12px;
        border-radius: 500px;
        padding: 10px 16px;
        width: 140px;
        height: 39px;
        background-color: #97d28b;
        color: #173d33;
        margin-left: 12px;
        font-size: 16px;
        letter-spacing: -0.04em;
    }

    .get-in-touch-btn:hover {
        background-color: #173d33;
        color: #97d28b;
    }

    .get-in-touch-btn:hover .get-in-touch {
        fill: #97d28b;
    }
}

