.footer__separator {
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid  #97d28b;
}

.footer__content {
    display: grid;
    grid-template-areas: 
    "logo"
    "social-icons"
    "address"
    "email"
    "copyright";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    margin: 24px 0;
}
@media (min-width: 768px) {
    .footer__content {
        grid-template-areas: 
        "logo social-icons social-icons"
        "address email copyright";
        grid-template-rows: auto auto;
        grid-template-columns: 50% 1fr 1fr;
        margin: 40px 0;
        row-gap: 16px;
    }
}

.logo {
    grid-area: logo;
}

.logo:hover {
    fill: #97d28b;
}

.social-icons{
    grid-area: social-icons;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    gap: 8px;
}

@media (min-width: 768px) {
    .social-icons {
        justify-content: flex-start;
        align-self: start;
        padding-left: 11px;
        margin: 0; 
    } 
}

@media (min-width: 1280px) {
    .social-icons {
        margin-left: 162px;
    }
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .contact-info {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.address {
    grid-area: address;
    margin-bottom: 16px;
}
@media (min-width: 768px) {
    .address {
        margin-bottom: 0;
    }  
}

.email {
    grid-area: email;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .email {
        padding-left: 11px;
        margin-bottom: 0;
    }  
}

@media (min-width: 1280px) {
    .email {
        margin-left: 162px;
    }
}

.copyright {
    grid-area: copyright;
}
@media (min-width: 768px) {
    .copyright {
        justify-content: flex-end;
    }
}

